<div class="message default clearfix">
    <div class="pull_left userpic_wrap">
        <div class="userpic userpic4" style="width: 42px; height: 42px;">
            <div class="initials" style="line-height: 42px;">
                <%= shortenName %>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="pull_right date details">
            <%= time %>
        </div>
        <div class="from_name">
            <%= name %>
        </div>