<div>
    <img src="<%= `photos/${fileName}` %>" width="300px" height="200px"></img>
    <a href="<%= `${url}` %>" target="_blank">
        <%= title %>
      </a>
      <span><%= description %></span>
</div>
<br />