<div class="media_wrap clearfix arrangedFlex">
    <img src="<%= `${dir}/${fileName}` %>" width="100px" height="100px"></img>
    <a href="<%= `${url}` %>" target="_blank" class="infor">
        <div class="title"><%= desc %></div>
        <div><%= `${lat}, ${lo}` %></div>
    </a>
</div>