<a href="<%= `${url}` %>" target="_blank" class="title">
  <div class="media_wrap clearfix arrangedFlex">
    <div class="wrapThumb">
      <img src="<%= `${dir}/${fileName}` %>" class="thumb"></img>
    </div>

    <div class="infor">
      <div class="title"><%= title %></div>
      <div class="description"><%= description %></div>
    </div>
  </div>
</a>