<div id="giftContainer" style="
    width: 130px;
    height: 130px;
    background-image: url('../MessageExport_28_6_2020/stickers/fileName');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 1040px 130px;
  " onmouseover="onMouseOver(this)"></div>
<br />