<a href="<%= `${url}` %>" target="_blank">
    <div class="media_wrap clearfix arrangedFlex">
        <div class="wrapThumb">
            <img src="<%= `${dir}/${fileName}` %>" class="thumb"></img>
        </div>
        <div class="infor">
            <div class="title"><%= fileName %></div>
            <div class="description"><%= size %></div>
        </div>
    </div>
</a>