<div class="media_wrap clearfix">
  <a href="<%= `${url}` %>" target="_blank">
    <div id="giftContainer" style="
    width: 130px;
    height: 130px;
    background-image: url('pathValue/stickers/fileNameValue');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 1040px 130px;
  " onmouseover="onMouseOver(this)">
    </div>
  </a>

</div>