<div class="media_wrap clearfix">
    <a href="<%= `${url}` %>" target="_blank">
        <audio controls>
            <source src="<%=`${dir}/${fileName}`%>" type="audio/mpeg">
        </audio>
    </a>
</div>