<div class="media_wrap clearfix">
    <a href="<%= `${url}` %>" target="_blank">
        <audio controls>
            <source src="<%=`mp3s/${fileName}`%>" type="audio/mpeg">
        </audio>
    </a>
</div>