<a href="<%= `${url}` %>" target="_blank" class="infor">
    <div class="media_wrap clearfix arrangedFlex">
        <img src="<%= `${dir}/${fileName}` %>" class="icon_location"></img>

        <div class="infor">
            <div class="title"><%= desc %></div>
            <div class="description"><%= `${lat}, ${lo}` %></div>
        </div>
    </div>
</a>